body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    line-height: 1.75;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 15px;
    color: rgb(226, 223, 19);
}
a{
    color: rgb(165, 165, 165);
}
ul{
    color: white;
}
li{
    color: white;
    float:left;
    padding: 10px;
    list-style-type: none;
    font-size: 20px;
}
nav{
    float:right;
    margin-right: 300px;
    margin-top: 10px;   
}
.inicio{
    display:flex;
    width:80%;
    min-height: 80vh;
    margin:auto;
    align-items: center;
}
.intro{
    flex: 1;
    text-align: center;
}
.introtext h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
}
.introtext p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 55px;
}
.imgInicio{
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 2000px;
}
.landing{
    background-image: url(/img/header-bg.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.button1{
    background-color: rgb(235, 232, 66);
    display: inline-block;
    padding:20px;
    font-size: 22px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
    border: solid 0px;
    width: 13em;
}
.button1:hover{
    background-color: rgb(77, 76, 28);
}

.container-servicios h2{
    text-align: center;
}
.container-servicios p{
    text-align: center;
    color: grey;
}
.col-sm{
    text-align: center;
}
.textService{
    font-style: normal;
    font-size: 25px;
}
.container-portfolio h2{
    text-align: center;
}
.container-portfolio p{
    text-align: center;
    color: rgb(82, 76, 76);
}
#portfolio{
    background-color: rgb(211, 197, 197);
}
.textPortfolio{
    font-style: oblique;
    font-size: 25px;
}
.container-about h2{
    text-align: center;
}
.container-about p{
    text-align: center;
    color: rgb(82, 76, 76);
}

.CircularImg{
    border-radius: 200px;
    height: 350px;
    padding: 80px;
}
.circulo {
	width: 12rem;
	height: 12rem;
	border-radius: 200px;
	background: rgb(226, 223, 19);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin :5em auto;
    margin-bottom: 15em;
    padding:90px
}
.circulo h3{
    font-family: sans-serif;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
}
.container-team h2{
    text-align: center;
}
.container-team p{
    text-align: center;
    color: rgb(82, 76, 76);
}
#team{
    background-color: rgb(190, 169, 169);
}
.Network{
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 33%;
}
.circuloNW{
    width: 4rem;
	height: 4rem;
	border-radius: 200px;
    background: rgb(0, 0, 0);
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}
.footerText p{
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 18px;
    text-align: right;
    margin-left: 10em;
}
.container-footer{
    display: flex;
    margin: 20px;
}
.NetworkFooter{
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 40em;
}
.moreInfo{
    margin-top: 1%;
    margin-left: 24em;
}
.moreInfo a{
    color:rgb(172, 170, 76);
}